
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px; /**/
}

main {
  display: flex;
  justify-content: center;
  width: 100%; /**/
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}

form button{
  padding-right: 10px;
  padding-left: 10px;
}

/* grid-layout responsive típico */
.movies {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  /* Se repita y pille el espacio disponible auto-fit, si puede 200px y sino 1fr */
  /* 100px 1fr=100px una columna de 100px. 100px 1fr 1fr dos columnas de 50px. 100px 1fr 3fr son 25px y 75px */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 
  width: 100%;
  /* Separación entre elementos del grid si es necesario, no padding que es sobre todo lo de los lados */
  gap: 32px; 
}

.movie {
  text-align: center;
}

.movie h3, .movie p {
  margin: 0; /* Espacio entre películas*/
}

.movie img {
  border-radius: 8px;
  margin-top: 16px;
}

.pagination {
  display: flex;
  /*justify-content: center;*/
  justify-content: space-between;
  margin-top: 10px;
}

#nextBtn {
 padding-left: 40px;
 padding-right: 40px;
}

h1{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

/* Liked */

.liked-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.liked-btn {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: rgba(156, 88, 208, 0.5);
  background-image: url("sprite-twitter.png");
  background-size: 1450px 50px;
  padding: 0px;
  margin: 0px;
}

.liked-btn--liked {
  animation-name: like;
  animation-duration: 0.8s;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

/*.liked-movieList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 290px;
  padding: 26px 0px 26px 24px;
}

.liked-movieList .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.liked-movieList .movie-container .movie-img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}*/

.container {
  position: relative;
 }
 
 .heart-button {
  position: absolute;
  position: absolute;
  top: 10%;
  right: 10%;
  margin: 10px;
  width: 50px;
  height: 60px;
  z-index: 1;
  border-radius: 30px;
  background-color: rgba(156, 88, 208, 0.5);
 }